# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env files
backend/.env
backend/.venv
backend/env.sample.txt~

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

